.control-icons {
    /* margin-left: 0%; */
    background-color: rgb(51, 72, 230);
    overflow: auto;
}

.material-icons{
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    justify-content: right;
    /* padding-left: 2%; */
    padding-right: 1%;
    float: right;
}